* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    width: 1120px;
    max-width: 100%;
    margin-inline: auto;
}

.section-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;  */
}

.counter {
    width: 300px;
    height: 350px;
    border-radius: 40px;
    background-color: #3e4953;
    border: 8px solid rgb(225, 225, 225);
}

.title {
    margin: 0 auto;
    width: 130px;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    padding: 1px 0px 1px 0px;

}

.screen {
    margin: 0 auto;
    width: 250px;
    height: 60px;
    border-radius: 15px;
    background-color: white;
    text-align: right;
    padding-right: 10px;
    font-weight: 500;
    padding-bottom: 1px;
    font-size: 45px;
}

.counter-btns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 42%;
}

.countet-btns-play {
    display: flex;
    justify-content: center;
    gap: 30%;
    margin-top: 50px;
    align-items: center;
}

.btn-play {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-left {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.btn-left:active {
    width: 48px;
    height: 48px;
}

.btn-left-back {
    margin-right: 19px;
    border: 12px solid transparent;
    border-right: 20px solid #000000;
}

.btn-right {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.btn-right-cont {
    margin-left: 19px;
    border: 12px solid transparent;
    border-left: 20px solid #000000;
}

.btn-right:active {
    width: 48px;
    height: 48px;
}

.btn-count:active {
    width: 63px;
    height: 63px;
}

.btn-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    position: relative;
}

.btn-reset:active {
    width: 63px;
    height: 63px;
}

.btn-count {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.btn-play:active {
    width: 63px;
    height: 63px;
}

.btn-run {
    margin-left: 25px;
    border: 15px solid transparent;
    border-left: 22px solid #000000;
    transition: all ease;
}

.btn-run.rectangular {
    margin: 0 auto;
    border-left: none;
    width: 13px;
    background-color: #000000;
}

.btn-run.rectangular:nth-child(1) {
    left: -7px;
}

.btn-run.rectangular {
    width: 8px;
    height: 27px;
    background-color: #000;
    border: none;
    position: relative;
}

.btn-run.rectangular::after {
    content: '';
    position: absolute;
    top: 0;
    right: -15px;
    width: 8px;
    height: 100%;
    background-color: #000;
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Класс для анимации */
.animate-slide-in {
    animation: slideInFromRight 1s ease-in-out forwards;
}